html{
    width: 100%;
    height: 100%;
}

body{
    position: relative;
    width: 100%;
    height: 100%;    
    color: black;
    background: #fff;
    z-index: -1;

}

h2{
    text-align: center;
    margin: 0;
}

.errorlist > li{
    list-style-type: none;
    color: #cc0000;
    font-weight: 600;
    line-height: 20px;
}

.login-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}



p{
    max-width: 300px;
}


button{
    width: 30vw;
    padding: 0.5em 5em;
    border-radius: 100px;
    background-color: transparent;
    border:2px solid #28FC05;
    color:black;
    font-weight: 600;
    color: #28FC05;
    max-width: 300px;
    min-width: 200px;
    white-space: nowrap;
}

.login{
    border: 1px solid rgba(255,255,255,0.1);
    padding: 3em 4em;
    max-width: 300px;
}

label{
    display: none;
}

input{
    height: 30px;
    text-indent: 0.5em;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
}

input:focus{
    outline: none;
}

input::placeholder{
    content: 'Username';
}

.login{
    margin-top: -35px;
    border: 8px solid #F5F3F0;
    flex-direction: column;
    display: flex; 
    justify-content: center;
    align-items: center;
    
}





