html{
    height: 100%;
}

body{
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 2em;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.register-container{
    height: 100%;
}

.login{
    height: 100%;
}

input{
    height: 30px;
    text-indent: 0.5em;
    width: 200px;
    max-width: 300px;
}

.login-card{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    border: 8px solid #F5F3F0;
    padding: 0 2em 2em 2em;
    border-radius: 1em;
}

input[type='submit']{
    border-radius: 100px;
    height: initial;
    border: 2px solid #1ECD97;
    background-color: transparent;
    color: #1ECD97;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.errorlist > li{
    list-style-type: none;
    color: #cc0000;
    font-weight: 600;
}


input[type='submit']:hover{
    border: 3px solid  #1ECD97;
}

.disclaimer{
    position: absolute;
    text-align: center;
    /* left: 30%; */
    top: 150px;
    margin-left: 4em;
    margin-right: 4em;
    font-size: 1.2em;
}

.disclaimer > span{
    font-weight: 800;
}

