
<!-- <div class="today">
        <h3>Today</h3>
      </div>
        <div class="task">
          <input id="cbox"type="checkbox">
            <div id="taskName"> 
                <h3> 
                    Task 1 
                </h3>
            </div>
           
            <div id="time">
                <h5>2:00 Hours</h5> 
            </div>     
            
            <div class="importance">
              <strong>Very Important</strong>
            </div>
        </div>
        <div class="task">
          <input id="cbox"type="checkbox">
            <div id="taskName"> 
                <p> 
                    Finish Chapter 2 Notes 
                <p>
            </div>
           
            <div id="time">
                <h5>25 Minutes</h5> 
            </div>     
            
            <div class="importance">
              <strong>Very Important</strong>
            </div>
        </div> -->